
* {
  margin: 0px;
  padding: 0px;
  outline: 0;
  box-sizing: border-box;
}

header {
  background-color: ghostwhite;
  position: sticky;
  top: 0;
}

ul li {
  padding: 1rem;
  list-style: none;
}
ol li {
  list-style: none;
  padding: 0.25rem;
}



.padre {
  color: black;
  font-family: 'Titillium Web', sans-serif;
}
  
  .contenido {
    margin: 0rem 5rem 0rem 5rem;
    padding: 2rem 0rem 2rem 0rem;
    background-color: rgb(108, 108, 108);
    border-radius: 16px;
  }

  .titulo {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    background-color: rgb(33, 33, 33);
    width: 100%;
    color: white;
  }

  .card {
    display: flex;
    flex-flow: row wrap;
    margin: 0rem 5rem 5rem 5rem ;
    padding-bottom: 5rem;
    background-color: rgb(175, 175, 175);
    text-align: left;
    border-radius: 16px;
  }

    section div {
      margin: 1rem;
      border-radius: 16px;
    }

    section div h3 {
      margin-bottom: 1rem;
    }
    section div img {
        height: 450px;
    }


    .imagen {
      background-color: rgb(255, 255, 255, 0.75);
      padding: 2rem;
      width: 100%;
      text-align: center;
    }
    .nombre {
      margin-left: 3rem;
      width: 100%;
      
     
    }
    .cajita {
      margin-right: 0.5rem;
      padding: 3rem 3rem 6rem 3rem;
      flex: 0.5;
      border: 2px solid #8d8d8d;
      background-color: rgba(208, 208, 208, 0.5);
    }

    .caja {
      margin-left: 0.5rem;
      padding: 3rem 3rem 6rem 3rem;
      flex: 2;
      border: 2px solid #8d8d8d;
      background-color: rgb(208, 208, 208, 0.5);
    }

    #fondo_inicio {
      background-image: url("../media/fondo6.jpg");
    }

    #fondo-pers {
      background-image: url("../media/fondo3.jpg");
    }

    #fondo-mom {
      background-image: url("../media/fondo2.jpg");
      /*filter: blur(5px);*/

    }

    #fondo-prod {
      background-image: url("../media/fondo4.jpg");
    }

    #fondo-contct {
      background-image: url("../media/fondo8.jpg");
    }

    /* Inicio */

    .inicio_pers {
      height: 450px;
      flex: 1
    }

      .inicio_pers a img:hover {
        height: 460px;
      }

      #card_inicio_mom {
        flex-flow: row nowrap;
      }

      .inicio_mom {
        padding: 3rem 1rem 6rem 1rem;
        flex: 1;
      }

        .inicio_mom a img {
         height: 100px;
        }



/* Pagina contacto */
input, button {
 font-size: 10px;
 font-family: Arial, Helvetica, sans-serif;
}

button {
 cursor: pointer;
}
