
* {
  margin: 0px;
  padding: 0px;
  outline: 0;
  box-sizing: border-box;
}

header {
  background-color: ghostwhite;
  position: sticky;
  top: 0;
}

body {
 background: gray;
 color: black;
 font-family: 'Titillium Web', sans-serif;
}

ul li {
  padding: 1rem;
  list-style: none;
}
ol li {
  list-style: none;
  padding: 0.25rem;
}

/* Pagina personajes */
.padre {
  padding: 3rem;
  justify-content: center;
}

  .pers_card {
      display: flex;
      flex-flow: row wrap;
      margin: 2rem 5rem 2rem 5rem ;
      padding-bottom: 5rem;
      background-color: rgb(175, 175, 175);
      text-align: left;
      border-radius: 16px;
  }

    section div {
      margin: 1rem;
      border-radius: 16px;
    }

    section div h3 {
      margin-bottom: 1rem;
    }
    section div img {
        height: 550px;
    }


    .pers_img {
      background-color: rgb(255, 255, 255);
      padding: 2rem;
      width: 100%;
      text-align: center;
    }
    .pers_nombre {
      margin-left: 3rem;
      width: 100%;
      
     
    }
    .pers_habilidades {
      margin-right: 0.5rem;
      padding: 3rem 3rem 6rem 3rem;
      flex: 0.5;
      border: 2px solid #8d8d8d;
      background-color: rgba(208, 208, 208, 0.5);
    }


    .pers_descripcion {
      margin-left: 0.5rem;
      padding: 3rem 3rem 6rem 3rem;
      flex: 2;
      border: 2px solid #8d8d8d;
      background-color: rgb(208, 208, 208, 0.5);
    }

/* Pagina contacto */
input, button {
 font-size: 10px;
 font-family: Arial, Helvetica, sans-serif;
}

button {
 cursor: pointer;
}
