
#cabezera {
    display: flex;  
  }

#cabezera a img{
    height: 6rem;
}

#navegador {
    margin: 10 px;
    padding: 10px;
    background-color: #333333;
}
nav a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    color: rgb(203, 115, 0);
}
    