
#cabezera {
    display: flex;  
}

    #cabezera a img{
        height: 3rem;
    }

#navegador {
    margin: 10 px;
    padding: 10px;
    background-color: #333333;
    text-align: justify;
    display: flex;
    flex-flow: row nowrap;
}
    nav a{
        padding: 0.5rem;
        font-family: 'Titillium Web', sans-serif;
        font-size: 1rem;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
    }

    nav img {
        padding: 0;
        height: 1.5rem;
    }

    nav a:hover {
        background-color: #666666;
        color: rgb(229, 210, 5);
    }
        